:where(.ripple) {
	--bg: 0 0% 52%;
	--opacity: 0.5;
	--bg-clr: hsl(var(--bg) / var(--opacity, 0.5));
	--shrt-ripple-opacity-delay: 200ms;

	--shrt-ripple-scale-transduration: 650ms;
	--shrt-ripple-opacity-transduration: calc(
		var(--shrt-ripple-scale-transduration) - var(--shrt-ripple-opacity-delay)
	);

	/* Delay for long ripple animation but not in ms for js*/

	--lng-ripple-pointerdown-delay-woms: 80;

	/* Delay for transition of opacity in long ripple animation for js */

	--lng-ripple-delay-opacity-class: 150;

	/* transition duration of opacity required for js to remove element at the right time  */

	--lng-ripple-opacity-transduration-woms: 400;

	--lng-ripple-scale-transduration-addition: 150ms;

	--lng-ripple-scale-transduration: calc(
		var(--shrt-ripple-scale-transduration) +
			var(--lng-ripple-scale-transduration-addition)
	);
	--lng-ripple-opacity-transduration: calc(
		var(--lng-ripple-opacity-transduration-woms) * 1ms
	);
	--ripple-br: 50%;
	--blur-animate: 400ms;
	appearance: none;
	touch-action: none;
	position: relative;
	display: inline-block;
	isolation: isolate;
	z-index: 1;
}
.yt-paper-ripple,
.waves-container,
.waves {
	overflow: hidden;
	pointer-events: none;
	z-index: -1;
}
.yt-paper-ripple,
.waves-container {
	display: inline-block;
	position: absolute;
	inset: 0;
	border-radius: inherit;
	width: 100%;
	height: 100%;
}

.waves {
	position: absolute;
	width: 100%;
	aspect-ratio: 1 / 1;
	background-color: var(--bg-clr);
	border-radius: var(--ripple-br);
	top: var(--y);
	left: var(--x);
	translate: -50% -50%;
	scale: 0;
}

.waves.animate-short {
	--scale: 3;
	animation: animate-scale var(--shrt-ripple-scale-transduration, 450ms)
			ease-out,
		animate-opacity var(--shrt-ripple-opacity-transduration, 280ms) ease-out
			var(--shrt-ripple-opacity-delay, 170ms);
}
.waves.animate-long {
	--scale: 4;
	animation: animate-scale var(--lng-ripple-scale-transduration, 450ms) ease-out
		forwards;
}

.waves.animate-opacity {
	opacity: 0;
	transition: opacity var(--lng-ripple-opacity-transduration, 300ms) ease-out;
}
@keyframes animate-scale {
	100% {
		scale: var(--scale);
	}
}

@keyframes animate-opacity {
	100% {
		opacity: 0;
	}
}
